<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tigro_test"
        tools:targetApi="31">

        <activity
            android:name=".activities.CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />

        <!-- opens when user clicks "Share" in a different app" -->
        <activity
            android:name=".activities.SubmitAnnotationActivity"
            android:exported="false">
            <intent-filter android:label="Submit Annotation">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchAnnotationActivity"
            android:exported="false">
            <intent-filter android:label="Search Annotation">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ScanQrActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddContactActivity"
            android:exported="false" />

        <!-- launcher activity, either main screen (dev) or PIN screen (prod) -->
        <activity
            android:name="${mainLauncherActivity}"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- non-launcher activity, either PIN screen (dev) or main screen (prod) -->
        <activity
            android:name="${altActivity}"
            android:exported="false" />
    </application>

</manifest>